<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
    <body>
        <nav id="navbarTop" class="navbar navbar-expand-lg navbar-light fixed-top" style="z-index: 1050">
            <div class="container-fluid">
                <button id="navbar-togglerTop" class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarTop" aria-controls="offcanvasNavbarTop" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarTop" aria-labelledby="offcanvasNavbarLabelTop">
                    <div class="offcanvas-header">
                        <img src="{{ asset('build/images/logo.svg')}}" class="img-fluid" style="width: 6rem; height: auto" alt="logo" />
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div id="offcanvas-bodyTop" class="row offcanvas-body align-items-center justify-content-center">
                        <ul id="navbarLeft" class="col-5 navbar-nav align-items-center justify-content-center p-0">
                            {% block extra_content_bouton_accueil %}{% endblock %}
                            {% block extra_content_bouton_films %}{% endblock %}
                            {% block extra_content_bouton_reservation %}{% endblock %}
                        </ul>
                        <img id="logo" src="{{ asset('build/images/logo.svg')}}" class="col-2 img-fluid" style="width: 7.5rem; height: auto" alt="logo" />
                        <ul id="navbarRight" class="col-5 navbar-nav align-items-center justify-content-center p-0">
                            {% block extra_content_bouton_admin_employe %}{% endblock %}
                            {% block extra_content_bouton_contact %}{% endblock %}
                            <li class="nav-item dropdown mx-3 my-3 text-white">
                                <a id="btn-mon-espace" class="nav-link dropdown-toggle d-flex align-items-center justify-content-center active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-circle fs-3 ms-2"></i><span class="mx-2">Mon espace</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end p-0">
                                    {% block extra_content_mon_espace %}{% endblock %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="titre-mes-commandes d-flex justify-content-center align-items-center fs-3 fw-semibold position-fixed w-100" style="color: #6A73AB;">
            <div class="col-5 text-center">Mes commandes</div>
        </div>
        <div id="container-commandes" class="container-fluid">
            {% if reservations is not empty %}
                {% for reservation in reservations %}
                    <div class="row justify-content-center align-items-center mb-4">
                        <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-5">
                            <div class="row" style="background-color: #6A73AB">
                                <div class="col-4 p-4 text-white">
                                    <div class="row">
                                        <!-- Image du film -->
                                        <img src="{{ reservation.film.image }}" class="img-fluid" alt="image">
                                    </div>
                                    <div class="row mt-3 fs-5">
                                        <!-- Genre du film -->
                                        <div class="col-12 text-center">Genre: {{ reservation.film.genre }}</div>
                                        <!-- Durée -->
                                        <div class="col-12 text-center mt-3">Durée: {{ reservation.seance.duree }}</div>
                                    </div>
                                </div>
                                <div class="col-8 p-4 position-relative">
                                    <div class="custom-border"></div>
                                    <div class="row justify-content-start align-content-center">
                                        <!-- Nom du cinéma -->
                                        <div class="row">
                                            <div class="col-auto">
                                                <div class="text-white fs-4 fw-semibold">Cinéma de {{ reservation.seance.cinema }}</div>
                                            </div>
                                        </div>
                                        <!-- Nom du film -->
                                        <div class="row mt-3">
                                            <div class="col-auto">
                                                <div class="text-white fs-4 fw-semibold">{{ reservation.film.name }}</div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-auto">
                                                <div class="text-white fs-5">Séance du {{ reservation.seance.date }} :</div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-auto">
                                                <div class="text-white fs-5">salle n° {{ reservation.seance.salle }}, qualité {{ reservation.seance.qualite }} de {{ reservation.seance.heure_debut_seance }} à {{ reservation.seance.heure_fin_seance }}</div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-auto">
                                                <div class="text-white fs-5">
                                                    {{ reservation.seance.sieges_reserves|length }}
                                                    {{ reservation.seance.sieges_reserves|length == 1 ? 'place réservée' : 'places réservées' }} :
                                                    {{ reservation.seance.sieges_reserves|length == 1 ? 'siège n°' : 'sièges n°' }}
                                                    {{ reservation.seance.sieges_reserves|join(', ') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col col-sm-6 text-center">
                                                <!-- QR Code -->
                                                <img src="{{ reservation.seance.qrCode }}" alt="QR Code" style="width: 160px; height: 160px;">
                                            </div>
                                            <div class="col col-sm-6 d-flex flex-column justify-content-center">
                                                <div class="text-white fs-5 text-center p-3">Prix: {{ reservation.seance.price }}€</div>
                                                <div id="avis-{{ reservation.reservation_id }}" class="col-auto text-center mt-3 commande-avis">
                                                    {% if reservation.seance.avis is not empty %}
                                                        <button type="button"
                                                                class="btn btn-commandes-avis fs-5 px-3" data-bs-toggle="modal" data-bs-target="#avisModal-{{ reservation.reservation_id }}">
                                                                Avis déposé
                                                                <i class="ms-2 bi bi-eye bi-eye-avis"></i>
                                                        </button>
                                                    {% else %}
                                                        <div class="btn-container">
                                                            {% set seanceDate = reservation.seance.dateCommande|date('Y-m-d') %}
                                                            {% set currentDate = "now"|date('Y-m-d') %}
                                                            {% if currentDate > seanceDate %}
                                                                <button type="button" class="btn btn-paiement btn-avis-reservation fs-5 px-3"
                                                                        data-bs-toggle="modal" data-bs-target="#notationModal-{{ reservation.reservation_id }}">Noter le film <i class="ms-2 bi bi-pencil"></i>
                                                                </button>
                                                            {% else %}
                                                                <button type="button" class="btn btn-paiement btn-avis-reservation fs-5 px-3 disabled"
                                                                        data-bs-toggle="modal" data-bs-target="#notationModal-{{ reservation.reservation_id }}">Noter le film <i class="ms-2 bi bi-pencil"></i>
                                                                        <span class="tooltip-message">Vous pouvez noter la séance à partir du lendemain de la projection</span>
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!-- Modal redaction avis -->
                                            <div class="modal fade" id="notationModal-{{ reservation.reservation_id }}" tabindex="-1" aria-labelledby="notationModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0 pb-1">
                                                            <h5 class="modal-title">Noter le film</h5>
                                                            <button type="button" class="btn-close btn-close-seances" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="stars-rating">
                                                                <span class="star" data-value="1">&#9733;</span>
                                                                <span class="star" data-value="2">&#9733;</span>
                                                                <span class="star" data-value="3">&#9733;</span>
                                                                <span class="star" data-value="4">&#9733;</span>
                                                                <span class="star" data-value="5">&#9733;</span>
                                                            </div>
                                                            <div class="mt-3">
                                                                <textarea class="floatingTextareaComments form-control" rows="5" style="resize: none;" placeholder="Écrivez votre avis ici..." id="floatingTextareaComments-{{ reservation.reservation_id }}"></textarea>
                                                                <label for="floatingTextareaComments-{{ reservation.reservation_id }}" class="d-none"></label>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer border-0">
                                                            <button type="button" class="btn btn-connexion">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal avis déposé -->
                                            <div class="modal fade" id="avisModal-{{ reservation.reservation_id }}" tabindex="-1" aria-labelledby="avisModalLabel" aria-hidden="true" data-bs-keyboard="false">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0 pb-1">
                                                            <button type="button" class="btn-close btn-close-seances" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body text-center align-content-center" style="color: #6A73AB">
                                                            <div class="stars-rating-avis">
                                                                {% if reservation.seance.notation is not empty %}
                                                                    {% for i in 1..5 %}
                                                                        <span class="star-avis {% if i <= reservation.seance.notation %}selected{% endif %}" data-value="{{ i }}">&#9733;</span>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                            <div class="mt-3 avis-depose">{% if reservation.seance.avis is not empty %}{{ reservation.seance.avis }}{% endif %}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row justify-content-center mt-5">
                    <div class="col-auto">
                        <div class="alert text-white fs-5 text-center" style="background-color: #6A73AB;">
                            Aucune réservation disponible pour le moment
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    <footer>
        <nav id="navbarBottom" class="navbar navbar-expand-lg navbar-light fixed-bottom" style="height: 8rem">
            <div class="container-fluid">
                <button id="navbar-togglerBottom" class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarBottom" aria-controls="offcanvasNavbarBottom" aria-label="Toggle navigation">
                    <i class="bi bi-pin-map me-2"></i><span class="ms-2">Nous localiser</span>
                </button>
                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasNavbarBottom" aria-labelledby="offcanvasNavbarLabelBottom">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div id="offcanvas-bodyBottom" class="row offcanvas-body align-items-center justify-content-center">
                        <ul id="col-5-bottom" class="col-5 navbar-nav d-block text-center align-content-center p-0">
                            <li class="nav-item text-white">
                                <div class="nav-link">
                                    <i class="bi bi-facebook fs-4 mx-4"></i>
                                    <i class="bi bi-twitter-x fs-4 mx-4"></i>
                                    <i class="bi bi-pinterest fs-4 mx-4"></i>
                                    <i class="bi bi-linkedin fs-4 mx-4"></i>
                                    <i class="bi bi-youtube fs-4 mx-4"></i>
                                </div>
                            </li>
                            <li class="nav-item text-white">
                                <div class="nav-link">372 Place de Paris - Toulouse, VT / 56826</div>
                            </li>
                            <li class="nav-item text-white">
                                <div class="nav-link">
                                    <i class="bi bi-telephone fs-6 me-2"></i>
                                    02 98 51 38 10
                                </div>
                            </li>
                        </ul>
                        <div id="col-2-bottom" class="col-2" style="width: 7.5rem"></div>
                        <div class="col-5 text-center align-content-center p-0">
                            <div id="horaires" class="text-center text-white mb-3" style="font-size: 1.1rem">
                                Horaires du lundi au dimanche :
                            </div>
                            <div class="d-flex justify-content-center">
                                <ul class="navbar-nav d-block text-center align-content-center mx-2">
                                    <li class="nav-item text-white">
                                        <div class="nav-link p-0">8h00 - 12h00</div>
                                    </li>
                                    <li class="nav-item text-white">
                                        <div class="nav-link p-0">12h30 - 14h30</div>
                                    </li>
                                </ul>
                                <div class="border-white"></div>
                                <ul class="navbar-nav d-block text-center align-content-center mx-2">
                                    <li class="nav-item text-white">
                                        <div class="nav-link p-0">15h00 - 17h00</div>
                                    </li>
                                    <li class="nav-item text-white">
                                        <div class="nav-link p-0">17h30 - 23h30</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
    </body>
</html>
